{% load staticfiles %}
<!DOCTYPE html>
                          <html>
                          <head>
                          <link href="donation.css" rel="stylesheet" type="text/css">
                          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
                          <title> All in one NGO </title>
                          </head>
                          <body>

                          <ul>
                            <li><a href="#home">Home</a></li>
                            <li><a href="#news">News</a></li>
                            <li class="dropdown">
                              <a href="javascript:void(0)" class="dropbtn">Dropdown</a>
                              <div class="dropdown-content">
                                <a href="#">Link 1</a>
                                <a href="#">Link 2</a>
                                <a href="#">Link 3</a>
                              </div>
                            </li>
                          </ul>
                      {% for model in ngos.all %}
                          <div class = "ngo-card">
                              <div class="container">
                                  <div class="row">
                                      <div class="col-2">
                                          <img src= "{{ model.image.url }}" style="margin-left: -150px; margin-top: 50px; height: 250px; width: 250px; border-radius: 100px;">
                                      </div>
                                      <div class="col-10" >
                                          <p style="font-size: 40px; margin-top: 50px; "><a href =  "/{{model.ng_id}}" }> {{model.name}}</a>
                                          <br>
                                         </p>
                                          <br>
                                          <p style="font-size: 20px;">
                                          Location: {{model.location}}
                                          <br>
                                          Phone: {{model.phone}}
                                          <br>
                                          Email:{{model.email}}
                                          <br>
                                          Current Funds: {{model.donations}}
                                        </p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          {% endfor %}}
                          </body>
                          </html>
